.faq {
    padding: 5.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        &__item {
            background-color: #13151d;
            list-style: none;
            margin-bottom: 16px;
            

            &__question {
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                @media (max-width:768px) {
                    font-size: 15px;
                }

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                max-height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, 1s ease;

                ul {
                    padding-left: 40px;
                    list-style:disc;
                    padding-top: 16px;

                    
                    li {
                        padding-bottom: 16px;
                        
                        &:last-child {
                            padding: 0;
                        }
                    }
                }

                &:nth-child(2) {
                    p:last-child {
                        padding-top: 16px;
                    }
                }
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '–';
                }

                .faq__questions__item__answer {
                    padding-bottom: 24px;
                    max-height: 700px;
                    animation: fade 1s ease-in-out;
                    height: auto;
                    transition: height, 1s ease;
                }
            }
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}